.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.NavbarItems{
  background-color: cadetblue;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo{
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-react{
  margin-left: 0.5rem;
  font-size:1.6rem ;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-start;
  margin-right: 2rem;
}
.nav-items{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-start;
  margin-right: 2rem;
}

.nav-links-items{
  color: rgb(11, 9, 9);
  text-decoration: none;
  padding: 0.5rem 1rem;
}


.nav-links{
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover{
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars{
  color: #fff;
}

.nav-links-mobile{
  display: none;
}

.men-icon{
  display: none;
}

.contenedorItems{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, auto)


}

.tamanio{
  width: 30%;
}

.colorH{
  color: #6d76f7;
}